@font-face {
    font-family: 'Maven Pro';
    src: url(./assets/MavenPro-Regular.ttf);
}

@font-face {
    font-family: 'Maven Pro';
    src: url(./assets/MavenPro-Bold.ttf);
    font-weight: bold;
}

:root {
    --main-bg-color: #f9f9f9;
    --main-fg-color: #05070a;
    --secondary-fg-color: #bbb;
    --tertiary-fg-color: #e5ebfb;
}

* {
    font-family: 'Maven Pro', sans-serif;
    z-index: 0;
}

body {
  background-color: var(--main-bg-color);
  overflow: hidden;
}

input {
    color: var(--main-fg-color);
    background: var(--main-bg-color);
}

input::placeholder {
    color: var(--secondary-fg-color);
}

#stream {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 10%;
    right: 0%;
}

#listen {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 10%;
    right: -100%;
    background: var(--main-bg-color);
}

#favourites {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 10%;
    right: -100%;
    background: var(--main-bg-color);
    overflow: auto;
}

#settings {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 10%;
    right: -100%;
    background: var(--main-bg-color);
}

#menu-toggle {
    position: absolute;
    top: 0px;
    right: 0px;
    background: var(--main-bg-color);
    border: 0px;
    font-size: 100%;
    margin-top: 1vh;
}

#thumbnail-image {
    height: 12vh;
    width: 12vh;
    background-color: var(--secondary-fg-color);
    border-radius: 50%;
    margin:auto;
    margin-bottom: 3vh;
}

#thumbnail {
    margin-top: 3vh;
    margin-left: 2vh;
    margin-right: 2vh;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1vh;
    letter-spacing: 3px;
}

#thumbnail-track {
    color: var(--main-fg-color);
    font-weight: 900;
    font-size: 150%;
}

#thumbnail-artist {
    color: var(--main-fg-color);
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 125%;
    letter-spacing: 7px;
}

#controls {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.control {
    color: var(--main-fg-color);
    margin-left: 4vh;
    margin-right: 4vh;
    cursor: pointer;
    font-size: 100%;
}

.control:hover{
    color: var(--tertiary-fg-color);
}

#bar {
    margin: auto;
    height: 0.5vh;
    width: 35vh;
    background-color: var(--main-fg-color);
    margin-bottom: 3vh;
    margin-top: 3vh;
    border-radius: 5px;
}

#tracklist {
    margin-top: 5vh;
    margin-left: 1vh;
    margin-right: 1vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
    height: 36vh;
}

.playing {
    background: var(--tertiary-fg-color);
}

.tracklist-track {
    font-size: 110%;
    padding-left: 4vh;
    padding-right: 4vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-bottom: 1px solid var(--tertiary-fg-color);
    cursor: pointer;
}

.tracklist-track:hover {
    background: var(--tertiary-fg-color);
}

.tracklist-trackname {
    display: inline;
    color: var(--main-fg-color);
    text-overflow: ellipsis;
}

.duration {
    display: inline;
    float: right;
    margin-top: 0px;
    color: var(--main-fg-color);
}

.tracklist-artist {
    margin-top: 1vh;
    margin-bottom: 0vh;
    color: var(--secondary-fg-color);
}

#streaming-status {
    display: none;
    padding-right: 3vh;
    font-weight: bold;
    text-align: right;
    margin-bottom: 3vh;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: var(--main-bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-fg-color);
}

#search, #comment {
    border-radius: 10px;
    margin-left: 4vw;
    margin-right: 4vw;
    display: flex;
    margin-top: 3vh;
}

#search-input, #comment-input {
    padding: 6px;
    font-size: 100%;
    border-radius: 5px;
    border:none;
    width: 100%;
    padding: 2vh;
    border: 1px solid var(--tertiary-fg-color);
    box-shadow: 2px 2px var(--tertiary-fg-color);
}

input:focus {
    outline: none ! important;
}

#streamers {
    display: flex;
    height: 75vh;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vh;
    overflow: auto;
}

.streamer {
    width:100%;
    border-bottom: 1px solid var(--tertiary-fg-color);
    background-color: var(--main-bg-color);
    cursor: pointer;
    padding-bottom: 1vh;
    padding-top: 2vh;
}

.streamer:hover {
    background: var(--tertiary-fg-color);
}

.streamer-name {
    color: var(--main-fg-color);
    padding-bottom: 0px;
    font-weight: 600;
    font-size:125%;
    margin-top: 0vh;
    margin-bottom: 0vh;
    display: inline;
}

.streamer-description {
    font-size:100%;
    padding-left:2vh;
    font-weight: 200;
    margin-top: 2vh;
    color: var(--secondary-fg-color);
}

.streamer-tags {
    font-size:100%;
    padding-left:2vh;
    font-weight: 200;
    margin-top: 1vh;
    color: var(--secondary-fg-color);
}

.listen {
    margin-top: 2vh;
    margin-left: 2vh;
    font-size: 100%;
    width: 80vw;
    color: var(--secondary-fg-color);
}

.main-fg-color {
    color: var(--main-fg-color);
}

.streamer-selected {
    background-color: var(--tertiary-fg-color);
}

header {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 4vh;
    postition:absolute;
    width:100%;
    height:5vh;
}

.header-icon {
    margin-left: 3vh;
    margin-right: 3vh;
    color: var(--secondary-fg-color);
    cursor: pointer;
    font-size: 150%;
}

.selected-header-icon {
    color: var(--main-fg-color);
    border-bottom: 4px solid var(--main-fg-color);
}

.fade-in {
    right: 0% !important;
    opacity: 100%;
    transition:right 0.5s, opacity 0.5s ease-in-out;
}

.fade-out {
    right: -100% !important;
    opacity: 0%;
    transition:right 0.5s opacity 0.5s ease-in-out;
}

#tracklist-placeholder {
    text-align: center;
    padding: 5vh;
    margin-top: 3vh;
}

.tracklist-placeholder-message {
    color: var(--secondary-fg-color);
    font-size: 100%;
    letter-spacing: 1px;

}

#streamers-placeholder {
    text-align: center;
    padding: 5vh;
    margin-top: 25vh;
}

.streamers-placeholder-message {
    color: var(--secondary-fg-color);
    font-size: 100%;
    letter-spacing: 1px;
}

#favourites-placeholder {
    text-align: center;
    padding: 5vh;
    margin-top: 25vh;
}

.favourites-placeholder-message {
    color: var(--secondary-fg-color);
    font-size: 100%;
    letter-spacing: 1px;
}

.disabled {
    display: none !important;
}

.streamer-like {
    margin-left: 3vw;
    margin-right: 2vh;
    font-size: 24px;
    float: right;
    cursor: pointer;
    color: var(--main-fg-color);
}

.streamer-play {
    font-size: 24px;
    color: var(--main-fg-color);
    float: right;
    cursor: pointer;
}

.streamer-pause {
    color: var(--main-fg-color);
    font-size: 24px;
    color: var(--main-fg-color);
    float: right;
    cursor: pointer;
}

#thumbnail-timer {
    color: var(--main-fg-color);
    margin-top: 3vh;
    font-size: 125%;
}

#thumbnail-timer > span {
    font-size: 100%;
    font-weight: 400;
}

#state {
    margin-left: 2vw;
}

#search-button, #send-message-button {
    padding: 0px;
    margin-right: 2vw;
    background-color: var(--main-bg-color);
    border-radius: 10px;
    border: 1px solid var(--tertiary-fg-color);
    box-shadow: 2px 2px var(--tertiary-fg-color);
    cursor: pointer;
}

#streamers-search-spinner {
    text-align: center;
    padding: 5vh;
    margin-top: 20vh;
    color: var(--secondary-fg-color);
    font-size: 100%;
    letter-spacing: 1px;
}

#streamers-search-spinner-message {
    color: var(--secondary-fg-color);
    font-size: 100%;
    letter-spacing: 1px;
    margin-bottom: 3vh;
}

.spinner {
    border: 8px solid var(--tertiary-fg-color);
    border-top: 8px solid var(--main-bg-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#settings > form {
    display: flex;
    flex-direction: column;
    padding: 1vh 8vw;
    margin-top: 1vh;
}

#settings > form > input {
    padding: 6px;
    font-size: 100%;
    border-radius: 5px;
    border:none;
    padding: 2vh;
    border: 1px solid var(--secondary-fg-color);
    box-shadow: 2px 2px var(--tertiary-fg-color);
    margin-top: 1vh;
    margin-bottom: 2vh;
}

#settings > form > label {
    color: var(--main-fg-color);
    font-size: 100%;
    margin-bottom: 2vh;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1vh;
}

#settings > form > button > i {
    color: var(--main-bg-color);
}

#settings-save {
    background: var(--secondary-fg-color);
    color: var(--main-bg-color);
    margin-top: 5vh;
    font-size: 100%;
    padding: 20px;
    border: 0px;
    font-weight: 600;
    border-radius: 10px;
    letter-spacing: 3px;
    border: 1px solid var(--secondary-fg-color);
    cursor: pointer;
    text-transform: uppercase;
    transition:transform 0.1s ease-in-out;
}

#save-icon {
    color: var(--main-bg-color);
    font-size: 22px;
    margin-right: 2vw;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

#stream-public-key {
    background: var(--main-bg-color);
    padding: 2vh 4vw;
    text-align: center;
    font-size: 100%;
    font-weight: 400;
    border-radius: 10px;
    margin-top: 5vh;
    border: 1px solid var(--secondary-fg-color);
    box-shadow: 2px 2px var(--tertiary-fg-color);
    cursor: pointer;
    color: var(--secondary-fg-color);
    transition:transform 0.1s ease-in-out;
}

#stream-public-key:hover {
    color: var(--main-bg-color);
    background: var(--secondary-fg-color);
}

.stream-public-key-clicked {
    transform: scale(0.95) !important;
    transition:all 0.1s ease-in-out;
}

.settings-save-clicked {
    transform: scale(0.95) !important;
    transition:all 0.1s ease-in-out;
}


#settings-color {
    margin-top: 3vh;
    letter-spacing: 1px;
    color: var(--secondary-fg-color);
    letter-spacing: 1px;
    cursor: pointer;
}

.selected-settings-color {
    color: var(--main-fg-color);
}

#streamers-title, #favourites-title {
    font-size: 150%;
    margin-left: 2vh;
    margin-bottom: 3vh;
    font-weight: 600;
    color: var(--main-fg-color);
    margin-top: 1vh;
}

.streamer-user {
  display: inline;
  margin-left: 2vh;
  font-size: 125%;
  margin-right: 2vw;
  color: var(--main-fg-color);
}

#messages-list > div {
    margin-left: 1vw;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 4px;
}

#messages-list > div > p {
    display: inline;
}

#messages-list > div > i {
    color: var(--secondary-fg-color);
    margin-right: 13px;
}

#messages-list > div > span {
    font-weight: 600;
    color: var(--secondary-fg-color);
    margin-right: 2vw;
}

#messages-list {
    margin-left: 4vw;
    height: 65vh;
    overflow: auto;
    margin-right: 10px;
}

.hidden-visibility {
    display: none;
}

.favs-list-icons-margin {
    margin-right: 20px !important;
}
