* {
    font-family: 'Maven Pro', sans-serif;
    z-index: 0;
}

body {
    background: white;
}

#stream {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 10%;
    right: 0%;
}

#listen {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 10%;
    right: -100%;
    background: white;
}

#settings {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 10%;
    right: -100%;
    background: white;
}

#menu-toggle {
    position: absolute;
    top: 0px;
    right: 0px;
    background: white;
    border: 0px;
    font-size: 150%;
    margin-top: 1vh;
}

#thumbnail-image {
    height: 150px;
    width: 150px;
    background-color: #bbb;
    border-radius: 50%;
    margin:auto;
}

#thumbnail {
    margin-top: 6vh;
    margin-left: 2vh;
    margin-right: 2vh;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1vh;
    letter-spacing: 3px;
}

#thumbnail-track {
    margin-bottom: 1vh;
    font-weight: 900;
    font-size: 225%;
    letter-spacing: 7px;
}

#thumbnail-artist {
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 150%;
}

#controls {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.control {
    margin-left: 4vh;
    margin-right: 4vh;
    cursor: pointer;
}

.control:hover{
    color: #e5ebf0;
}

#bar {
    margin: auto;
    height: 0.5vh;
    width: 35vh;
    background: #05070a;
    margin-bottom: 5vh;
    margin-top: 1vh;
    border-radius: 5px;
}

#tracklist {
    margin-top: 5vh;
    margin-left: 1vh;
    margin-right: 1vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.playing {
    background: #e5ebf0;
}

.tracklist-track {
    font-size: 125%;
    padding-left: 4vh;
    padding-right: 4vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-bottom: 1px solid #e5ebf0;
    cursor: pointer;
}

.tracklist-track:hover {
    background: #e5ebf0;
}

.tracklist-trackname {
    display: inline;
    font-weight: 500;
}

.duration {
    display: inline;
    float: right;
    margin-top: 0px;
}

.tracklist-artist {
    margin-top: 1vh;
    margin-bottom: 0vh;
}

#streaming-status {
    display: none;
    padding-right: 3vh;
    font-weight: bold;
    text-align: right;
    margin-bottom: 3vh;
}

::-webkit-scrollbar {
    width: 0px;
}

#search {
    border-radius: 10px;
    margin-left: 4vw;
    margin-right: 4vw;
    display: flex;
}

#search-input {
    padding: 6px;
    font-size: 125%;
    border-radius: 5px;
    border:none;
    width: 100%;
    padding: 2vh;
    border: 1px solid #e5ebf0;
    box-shadow: 2px 2px #e5ebf0;
}

input:focus {
    outline: none ! important;
}

#streamers {
    display: flex;
    height: 75vh;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 5vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

.streamer {
    width:100%;
    border-bottom: 1px solid #e5ebf0;
    background-color: white;
    cursor: pointer;
}

.streamer:hover {
    background: #e5ebf0;
}

.streamer-name {
    color: #343434;
    padding:2vh;
    padding-bottom: 0px;
    font-weight: 600;
    font-size:200%;
    margin-top:1vh;
    margin-bottom: 0vh;
}

.streamer-description {
    font-size:125%;
    padding-left:2vh;
    font-weight: 200;
    margin-top: 2vh;
    color: #bbb;
}

.streamer-tags {
    font-size:125%;
    padding-left:2vh;
    font-weight: 200;
    margin-top: 1vh;
    color: #bbb;
}

.listen {
    margin-top: 3vh;
    margin-left: 2vh;
    font-size: 125%;
    width: 80vw;
}

.streamer-selected {
    background-color: #e5ebf0;
    border-radius: 10px;
}

header {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 4vh;
    postition:absolute;
    width:100%;
    height:5vh;
}

.header-icon {
    margin-left: 3vh;
    margin-right: 3vh;
    color: #bbb;
    cursor: pointer;
}

.selected-header-icon {
    color: #05070a;
    border-bottom: 4px solid #05070a;
}

.fade-in {
    right: 0% !important;
    opacity: 100%;
    transition:all 0.5s ease-in-out;
}

.fade-out {
    right: -100% !important;
    opacity: 0%;
    transition:all 0.5s ease-in-out;
}

#tracklist-placeholder {
    text-align: center;
    padding: 5vh;
    margin-top: 3vh;
}

.tracklist-placeholder-message {
    color: #bbb;
    font-size: 125%;
    letter-spacing: 1px;

}

#streamers-placeholder {
    text-align: center;
    padding: 5vh;
    margin-top: 10vh;
}

.streamers-placeholder-message {
    color: #bbb;
    font-size: 150%;
    letter-spacing: 1px;
}

.disabled {
    display: none !important;
}

.streamer-like {
    margin-left: 5vw;
    font-size: 24px;
    float: right;
    cursor: pointer;
    color: #343434;
}

.streamer-play {
    font-size: 24px;
    color: #343434;
    float: right;
    cursor: pointer;
}

.streamer-pause {
    font-size: 24px;
    color: #343434;
    float: right;
    cursor: pointer;
}

#thumbnail-timer {
    margin-top: 2vh;
    margin-bottom: 1vh;
}

#thumbnail-timer > span {
    font-size: 125%;
    font-weight: 400;
}

#state {
    margin-left: 2vw;
}

#search-button {
    padding: 0px;
    margin-right: 2vw;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #e5ebf0;
    box-shadow: 2px 2px #e5ebf0;
    cursor: pointer;
}

#streamers-search-spinner {
    text-align: center;
    padding: 5vh;
    margin-top: 20vh;
    color: #bbb;
    font-size: 125%;
    letter-spacing: 1px;
}

#streamers-search-spinner-message {
    color: #bbb;
    font-size: 125%;
    letter-spacing: 1px;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #bbb;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#settings > form {
    display: flex;
    flex-direction: column;
    padding: 1vh 8vw;
    margin-top: 3vh;
}

#settings > form > input {
    padding: 6px;
    font-size: 125%;
    border-radius: 5px;
    border:none;
    padding: 2vh;
    border: 1px solid #bbb;
    box-shadow: 2px 2px #e5ebf0;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

#settings > form > label {
    color: #05070a;
    font-size: 125%;
    margin-bottom: 2vh;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1vh;
}

#settings > form > button {
    background: #bbb;
    color: white;
    margin-top: 5vh;
    font-size: 125%;
    padding: 20px;
    border: 0px;
    font-weight: 600;
    border-radius: 10px;
    letter-spacing: 3px;
    border: 1px solid #bbb;
    cursor: pointer;
    text-transform: uppercase;
}

#save-icon {
    color: white;
    font-size: 22px;
    margin-right: 2vw;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

#stream-public-key {
    background: white;
    padding: 2vh 4vw;
    text-align: center;
    font-size: 125%;
    font-weight: 400;
    border-radius: 10px;
    margin-top: 5vh;
    border: 1px solid #bbb;
    box-shadow: 2px 2px #e5ebf0;
    cursor: pointer;
    color: #bbb;
    transition:all 0.1s ease-in-out;
}

#stream-public-key:hover {
    color: white;
    background: #bbb;
}

.stream-public-key-clicked {
    transform: scale(1.1) !important;
    transition:all 0.1s ease-in-out;
}
